
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# maven #
target

logs

# eclipse #
.settings
.project
.classpath
.log

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.war
*.ear

*.class

# Package Files #
*.jar


*.bak
*.tmp
*.log
/bin/
build.sh
integration-repo
/build/


/webapp/WEB-INF/classes/
/webapp/WEB-INF/test-classes/
/webapp/WEB-INF/target/

a_little_config_pro.txt

dev_plan.txt